<h3>Update Password</h3>

<div class="field">
  {{input type="password" value=newPassword placeholder='New Password'}}
</div>
<div class="field">
  {{input type="password" value=confirmNewPassword placeholder='Confirm Password'}}
</div>
{{#if (and triedOnce (not passwordsMatch))}}
  <div class="alert-danger">Passwords must match</div>
  <br>
{{/if}}
<button {{action 'updatePassword' newPassword confirmNewPassword}}>Update Email</button>
