<h3>Update Password</h3>

<div class="field">
  <label>New Password</label>
  {{input type="password" value=newPassword placeholder='New Password'}}
</div>
<div class="field">
  <label>Confirm New Password</label>
  {{input type="password" value=confirmNewPassword placeholder='Confirm New Password'}}
</div>
<div class="field">
  <label>Old Password (for security reasons)</label>
  {{input type="password" value=oldPassword placeholder='Old Password'}}
</div>
{{#if (and triedOnce (not passwordsMatch))}}
  <div class="alert-danger">Passwords must match</div>
  <br>
{{/if}}
<button {{action 'updatePassword' oldPassword}}>Update Email</button>
