<h1>Login</h1>
<p><em>This will be slowly replaced by a real login screen.</em></p>

<ul>
{{#each model as |user|}}
  <li>
    <button {{action 'login' user}}>Log In</button>
    {{user.email}}/{{user.displayName}}
  </li>
{{/each}}
</ul>
